.HIGHLIGHT_CONTEXTMENU {
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: lightgray;
    padding: 8px;
    display: flex;
    border-radius: 8px;
    box-shadow: 3px 4px 2px 1px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.HIGHLIGHT_CONTEXTMENU::after {
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid lightgray;
    border-bottom: 8px solid transparent;
    left: 32px;
    bottom: -14px;
    border-radius: 8px;
}
.HIGHLIGHT_CONTEXTMENU_BUTTON {
    width: 26px;
    cursor: pointer;
    height: 26px;
    margin: 2px 8px 0px 8px;
}
.HIGHLIGHT_CONTEXTMENU_BUTTON:hover {
    filter: drop-shadow(2px 2px 2px #666);
}
#HIGHLIGHT_CONTEXTMENU_CHANGECOLOR_BTN {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/colorPalleteIcon.svg');
}

#HIGHLIGHT_CONTEXTMENU_DELETE_BTN {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/deleteIcon.svg');
}